* {
    margin : 0;
    padding : 0;
}
body{
    background-color: #89937C;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width : 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap :1.5vmin;
   
}

.box{
    height: 18vmin;
    width : 18vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #672c2c;
    background-color: white;
}
#reset-btn{
   padding : 0.6rem;
   font-size: 0.3rem;
   background-color:rgb(36, 34, 34); 
   color: whitesmoke;
   border-radius: 1rem;
   border: none;
}
#new-btn{
    padding : 0.6rem;
   font-size: 0.5rem;
   background-color:rgb(36, 34, 34); 
   color: whitesmoke;
   border-radius: 1rem;
   border: none;
}
#msg{
    color:ivory;
    font-size: 6vmin;
}

.msg-container{
    height: 120vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;

}
.hide{
    display: none;
}